/*---navbar---*/

nav .nav_content {
  width: 100%;
  height: 12rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  z-index: 10;
}

nav .social {
  display: flex;
  height: 12rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 3rem;
  align-items: center;
}

nav i {
  color:#f99f1f;
  margin: 0 2rem;
}

nav .nav_content img {
  width: 35rem;
}

.nav_menu {
  display: flex;
  gap: 4rem;
  font-size: 20px;
  list-style-type: none;
}
.nav_menu li a {
  color: #f99f1f;
  text-decoration: none;
}